ol,
ul {
    list-style: none;
}

body {
    background-color: #4b4b4b;
}

/* Pagination */
.pagination {

}

.pagination li button {
    border: 1px solid #FFF;
    color: #FFF;
    background-color: transparent;
}

.pagination li.active button {
    background-color: #ffb8b8 !important;
    border: 1px solid #FFF;
    border-color: #FFF !important;
}



.champion-item,
.item-container {
    padding: 20px 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
    background-color: #fff;
}

.champion-item ul {
    list-style: disc;
}

.item-container {
    max-width: 48%;
    display: flex;
    align-items: center;
}

.item-usage-list {
    list-style-type: disc;
}

.item-container-desc {
    margin-left: 30px;
}

.navbar {
    background-color: #fff;
}

.champion-detail-header {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.champion-skill-item {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.champion-skill-item:last-child {
    margin-bottom: 0;
}

.champion-skill-img {
    width: 20%;
    text-align: center;
}

.champion-skill-desc {
    width: 70%;
}

.traits-list {
    width: 100%;
}

.item-container-desc {
    width: 60%;
}

.champion-list {
    justify-content: space-around;
}

.champion-item-container {
    flex: 16%;
    max-width: 16%;
    padding: 0;
    background-color: transparent;
    margin: 0;
    margin-bottom: 20px;
}

.champion-item-container img {
    height: 300px;
    transition: all 0.3s ease;
    width: 100%;
}

.champion-item-container:hover img {
    -webkit-filter: brightness(60%);
}

.champion-title h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #3d3d3d;
    color: #FFF;
    transition: all 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.champion-item-container:hover .champion-title h4 {
    color: #ffb8b8;
}

.champion-title {
    text-decoration: none !important;
}

/* Search Form */
.search-form {
    padding: 50px;
    padding-left: 0;
    padding-right: 0;
}

.search-form label {
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.search-form input,
.search-form select {
    background-color: #3d3d3d;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    color: #FFF;
}

.search-form input:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #3d3d3d !important;
    color: #FFF;
}

.item-container {
    border: 1px solid #FFF;
    background-color: transparent;
}

.item-container * {
    color: #FFF;
}

.champion-skill-img img {
    width: 100px;
}

@media (min-width: 320px) and (max-width: 1024px) {}

@media (min-width: 320px) and (max-width: 767px) {
    .champion-skill-img {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .champion-skill-desc {
        width: 100%;
        text-align: center;
    }

    .item-container {
        width: 98%;
        max-width: 100%;
    }

    .champion-item>* {
        margin-bottom: 20px;
    }

    .champion-item a,
    .champion-item h5 {
        text-align: center;
    }

    .tft-champion-container {
        flex-wrap: wrap;
        text-align: center;
    }

    .tft-champion-container>* {
        margin-bottom: 20px;
    }

    .tft-champion-container .item-container-desc {
        margin-left: 0;
    }

    .traits-list {
        padding-left: 0;
    }

    .tft-champion-container>* {
        width: 100%;
        text-align: center;
    }

    .tft-champ-img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .champion-item-container {
        flex: 45%;
        max-width: 45%;
    }

    .champion-title h4 {
        font-size: 1rem;
    }

    .champion-details-container {
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tft-champion-container {
        max-width: 70%;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .champion-item-container {
        flex: 30%;
        max-width: 30%;
    }
}