ol,ul{
    list-style: none;
}

body{
    background-color: #fbcffc;
}

.champion-item, .item-container{
    padding: 20px 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
    background-color: #fff;
}

.champion-item ul {
    list-style: disc;
}

.item-container{
    max-width: 48%;
    display: flex;
    align-items: center;
}

.item-usage-list{
    list-style-type: disc;
}

.item-container-desc{
    margin-left: 30px;
}

.navbar{
    background-color: #fff;
}

.champion-detail-header{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.champion-skill-item{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.champion-skill-item:last-child{
    margin-bottom: 0;
}

.champion-skill-img{
    width: 20%;
    text-align: center;
}

.champion-skill-desc{
    width: 70%;
}

@media (min-width: 320px) and (max-width: 1024px){

}

@media (min-width: 320px) and (max-width: 767px){
    .champion-skill-img{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .champion-skill-desc{
        width: 100%;
        text-align: center;
    }

    .item-container{
        width: 98%;
        max-width: 100%;
    }

    .champion-item>*{
        margin-bottom: 20px;
    }

    .champion-item a,
    .champion-item h5{
        text-align: center;
    }

    .tft-champion-container{
        flex-wrap: wrap;
        text-align: center;
    }

    .tft-champion-container >*{
        margin-bottom: 20px;
    }

    .tft-champion-container .item-container-desc{
        margin-left: 0;
    }

    .traits-list{
        padding-left: 0;
    }

    .tft-champion-container>*{
        width: 100%;
        text-align: center;
    }

    .tft-champ-img{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .tft-champion-container{
        max-width: 70%;
    }
}